In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
def arr_size(arr1,arr2,size):
    s=[]
    for i in range(0,int(len(arr2))+1,size):
        c=arr2[i:i+size]
        c=c.append(arr1)
        s.append(c)
    return s

In [2]:
def arr_size1(arr1,arr2,size):
    s=[]
    for i in range(0,35401,size):
        c=arr2[i:i+size]
        c=c.append(arr1)
        s.append(c)
    return s

In [2]:
def arr_size2(arr1,arr2,size):
    s=[]
    for i in range(0,40):
        c=arr2[0:size]
        c=c.append(arr1)
        s.append(c)
        arr2 = arr2.sample(frac=1.0)
    return s

In [3]:
data= pd.read_csv(r'bulianxu40w.csv', sep=',')
data_= pd.read_csv(r'huapodian.csv',sep=',')
data = data.sample(frac=1.0)

res = arr_size2(data_,data,885)
for i in range(len(res)):
    data_df = pd.DataFrame(res[i])
    data_df.to_csv('./output2/res'+str(i+1)+'.csv',index=False)

In [2]:
data= pd.read_csv(r'guiyiTest.csv', sep=',')
data_= pd.read_csv(r'huapodian.csv',sep=',')
#data = data.sample(frac=1.0)

In [3]:
data

,x,y,road,PGA,river,fault,lithology,NDVI,Ht,landslide
0,104.413719,32.137128,2.0,3.0,5.0,1.0,3.0,-0.107397,0.971937,0.0
1,105.453969,32.537062,2.0,3.0,5.0,5.0,3.0,-0.039785,0.971772,0.0
2,104.035349,33.002447,1.0,1.0,5.0,1.0,2.0,-0.163980,0.972141,0.0
3,103.475878,31.862004,3.0,1.0,2.0,1.0,2.0,-0.282769,0.971904,0.0
4,104.909590,32.446158,5.0,5.0,5.0,4.0,3.0,-0.123345,0.971163,0.0
...,...,...,...,...,...,...,...,...,...,...
9946707,104.254179,31.520970,5.0,4.0,3.0,5.0,2.0,-0.238177,0.971405,0.0
9946708,104.083319,31.317132,5.0,4.0,4.0,4.0,3.0,-0.165185,0.971251,0.0
9946709,104.075773,31.108210,5.0,3.0,5.0,1.0,5.0,-0.163025,0.972212,0.0
9946710,104.445520,32.255830,1.0,3.0,3.0,3.0,3.0,-0.083991,0.971673,0.0
9946711,103.652128,31.002878,5.0,5.0,5.0,3.0,3.0,-0.034781,0.971854,0.0

In [4]:
ran=random.randint(0,9546712)
print(ran)
data1=data[ran:ran+400000]
data_df = pd.DataFrame(data1)
data_df.to_csv('./lianxu40w.csv',index=False)

7949541

In [4]:
data1=data[0:400000]
data_df = pd.DataFrame(data1)
data_df.to_csv('./bulianxu40w.csv',index=False)

In [6]:
res = arr_size2(data_,data,885)

In [11]:
for i in range(len(res)):
    data_df = pd.DataFrame(res[i])
    data_df.to_csv('./output5/res'+str(i+1)+'.csv',index=False)

In [5]:
data = pd.read_csv(r'Output5.csv',sep=',')
data_= pd.read_csv(r'huapodian.csv',sep=',')
res = arr_size(data_,data,885)

In [6]:
#res[0] = res[0].sample(frac=1.0)
#res[0] = res[0].reset_index()
#res[0] = res[0].drop(['index'],axis=1)
#data_df = pd.DataFrame(res[0])
#data_df = data_df.drop(['index'],axis=1)
print(res[0])

              x          y  road  PGA  river  fault  lithology      NDVI  \
0    103.634064  31.344788     1    4      4      2          1  0.031506
1    104.743140  32.574290     2    3      4      2          3  0.026335
2    103.437756  31.835975     4    1      1      1          2 -0.340702
3    103.698562  30.829753     5    3      3      1          5 -0.139795
4    103.371369  31.125968     3    4      2      4          1  0.107610
..          ...        ...   ...  ...    ...    ...        ...       ...
880  103.462943  31.302324     5    3      4      5          1  0.008972
881  103.398264  31.021447     3    5      3      4          2  0.120712
882  104.608834  32.346012     3    3      3      5          3 -0.056921
883  104.270887  31.892819     3    4      3      1          3 -0.067267
884  104.559786  32.331369     2    3      2      5          3 -0.039333

           Ht  landslide
0    0.971827          0
1    0.971877          0
2    0.971955          0
3    0.972220          0
4    0.971852          0
..        ...        ...
880  0.971802          1
881  0.971710          1
882  0.971882          1
883  0.971723          1
884  0.971820          1

[1770 rows x 10 columns]

In [7]:
for i in range(len(res)):
    data_df = pd.DataFrame(res[i])
    #writer = pd.ExcelWriter('./output/res'+str(i+1)+'.csv')  #关键2，创建名称为hhh的excel表格
    #data_df.to_csv(writer,'page_1',float_format='%.8f')  #关键3，float_format 控制精度，将data_df写到hhh表格的第一页中。若多个文件，可以在page_2中写入
    data_df.to_csv('./output3/res'+str(i+1)+'.csv',index=False)
    #writer.save()  #关键4
    #writer.close()

In [2]:
data = pd.read_csv(r'chutushuju2.csv',sep=',')

In [3]:
data

,FID,FID_,x,y,road,PGA,river,fault,lithology,NDVI,HT,landslide,pre1
0,0,0,103.977677,33.009260,1.0,1.0,3.0,1.0,2.0,-0.034890,0.972089,0,0.059294
1,1,1,103.978216,33.009260,1.0,1.0,3.0,1.0,2.0,-0.026369,0.972089,0,0.059059
2,2,2,103.978755,33.009260,1.0,1.0,3.0,1.0,2.0,-0.017847,0.972089,0,0.058825
3,3,3,103.979294,33.009260,1.0,1.0,3.0,1.0,2.0,-0.011060,0.972089,0,0.058642
4,4,4,103.979833,33.009260,1.0,1.0,3.0,1.0,2.0,-0.011152,0.972089,0,0.058645
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9946707,9946707,9940180,103.584215,30.987091,5.0,5.0,4.0,5.0,3.0,-0.154845,0.971613,0,0.899864
9946708,9946708,9940181,103.584754,30.987091,5.0,5.0,4.0,5.0,3.0,-0.152652,0.971613,0,0.899547
9946709,9946709,9940225,103.583676,30.986626,5.0,5.0,4.0,5.0,3.0,-0.152033,0.971558,0,0.899455
9946710,9946710,9940226,103.584215,30.986626,5.0,5.0,4.0,5.0,3.0,-0.151232,0.971558,0,0.899339
9946711,9946711,9940270,103.583676,30.986162,5.0,0.0,4.0,5.0,0.0,0.000000,0.971558,0,0.000000

In [12]:
label_index = 7
dim  = 7
data = data.sample(frac=1.0)
x = data.drop(['FID'],axis=1)
x = x.drop(['FID_'],axis=1)
x = x.drop(['pre1'],axis=1)
print(x.shape)
x = np.array(x)
print(x.shape)

(9946712, 10)
(9946712, 10)

In [13]:
x

array([[ 1.04413719e+02,  3.21371283e+01,  2.00000000e+00, ...,
        -1.07396991e-01,  9.71937000e-01,  0.00000000e+00],
       [ 1.05453969e+02,  3.25370617e+01,  2.00000000e+00, ...,
        -3.97850331e-02,  9.71772000e-01,  0.00000000e+00],
       [ 1.04035349e+02,  3.30024474e+01,  1.00000000e+00, ...,
        -1.63979686e-01,  9.72141000e-01,  0.00000000e+00],
       ...,
       [ 1.04075773e+02,  3.11082097e+01,  5.00000000e+00, ...,
        -1.63025293e-01,  9.72212000e-01,  0.00000000e+00],
       [ 1.04445520e+02,  3.22558299e+01,  1.00000000e+00, ...,
        -8.39908370e-02,  9.71673000e-01,  0.00000000e+00],
       [ 1.03652128e+02,  3.10028776e+01,  5.00000000e+00, ...,
        -3.47805862e-02,  9.71854000e-01,  0.00000000e+00]])

In [15]:
for i in range(len(x))
    for j in range(len(x[i])):
        if x[i][j]=="" or x[i][j]==-9999:
            x=np.delete(x,i,axis=0)
            break;

In [ ]:
all_save_data_pd = pd.DataFrame(x,columns=['x','y','road','PGA',
 'river','fault','lithology','NDVI','Ht','landslide'])
 # np.savetxt('data.csv',all_save_data,delimiter=',')
all_save_data_pd.to_csv('guiyiTest.csv',index=False)
# y_test_1.shape